*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size:cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    color: white;
    height: 60vh;
}
.navbar{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 48px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar__menu_container{
    display: flex;
    gap: 30px;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: calc(60vh - 60px);

}

.hero__section_logo{
    width: 300px;
}

 .hero__section_title{
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

.hero__section_input_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    gap: 10px;
    width: 53%;
    border-radius: 10px;
}

.input_container_location, 
.input_container_search{
  padding: 5px;  
  font-size: 14px;
  border:none;
  outline: none;
}
.input_container_location{
    width:30%;
    border-right: 2px solid #e0e0e0;
}
.input_container_search{
    width: 70%;
}

.container{
    margin: 40px auto;
    width: 80vw;
}
.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.we__offer_card{
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 350px;
    height: 160px;
    object-fit:cover;
    object-position:center;
}
.we__offer_content{
    padding: 10px 20px;
}

.we__offer_content h2{
    font-size: 20px;
    font-weight: 400;
}
.we__offer_content p{
    font-size: 15px;
    color: #5d5d5d;
}
.collections{
    padding-top: 2.5rem;
}
.collections h1{
    font-size: 40px;
    font-weight: 400;
}
.collections .sub__heading_container{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.sub__heading_container span:nth-child(1){
    font-size: 18px;
    font-weight: 300;
}
.sub__heading_container span:nth-child(2){
    cursor: pointer;
    color: #ff7b8b;
    font-size: 16px;
}
.collections__card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-top: 1.5rem;
}
.collections__card_container .card{
    height: 325px;
    min-width: 263px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.card1{
    background-image: url(images/collection1.jpg);
}
.card2{
    background-image: url(images/collection2.jpg);
}
.card3{
    background-image: url(images/collection3.jpg);
}
.card4{
    background-image: url(images/collection4.jpg);
}

.overlay{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        0deg, 
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0.05) 50%,
        rgba(0,0,0,0.05) 85%
    );

}

.collections__card_container .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.8rem;
}
.content h4{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media only screen and (max-width : 600px){
    .navbar__menu_container .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .navbar{
        padding: 16px ;
    }
    .hero__section{
        min-height: 80vh; ;
    }
    .hero__section_title{
        font-size: 20px;
        width: 95%;
    }
    .hero__section_logo{
        width: 120px;
    }
    .hero__section_container{
        height: calc(80vh - 60px);
    
    }
    
    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_container_location, 
    .input_container_search{
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }
}